@page
@model MessageSendedModel

@{
    ViewData["Title"] = "Сообщение отправлено";
}
<div class="message-sended content">
    <h1>Ваше сообщение отправлено</h1>
    <a href="/">Назад</a>
</div>